<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет вещей</title>
    <script>
        window.onload = () => {
            let frame = document.getElementById("frame");
            if (frame) {
                setInterval(() => {
                    frame.src = "/frame?" + new Date().getTime()
                }, 500)
            }
        }
    </script>
</head>
<body>
    <p>Работа студента группы РИС-19-1б
    <p>Эльдара Миннахметова
    <p>Python Django

    {% if login == '' %}

        {% if attempt_count and attempt_login %}
            <p>Осталось попыток для логина {{ attempt_login }}: {{ attempt_count }}</p>
        {% elif attempt_login %}
            <p>Секунд до следующей попытки для логина {{ attempt_login }}: {{ seconds_for_next }}</p>
        {% endif %}

        <form action="/sign_in" method="POST">
            {% csrf_token %}
            <table>
                <tr><td>Логин </td><td><input type="text" name="login"></td></tr>
                <tr><td>Пароль </td><td><input type="text" name="password"></td></tr>
            </table>
            <input type="submit" value="Авторизоваться">
        </form>

    {% else %}

        <p>Добро пожаловать, {{ login }}</p>
        <p><a href="/sign_out">Выйти</a></p>
        <p><img id="frame" src="/frame" width=640 height=480 />

    {% endif %}

</body>
</html>